# Database
MONGODB_URI=

# JWT
JWT_SECRET=
JWT_EXPIRE=

# Server
PORT=5000
NODE_ENV=development

# Cloudinary (for image uploads)
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# Frontend URL
CLIENT_URL=https://blogger-tau-five.vercel.app/

#OAuth
GOOGLE_CLIENT_ID=
